/* index.css is meant for global styles that apply throughout the entire application */

/* Common use cases for index.css include setting the default font styles, global resets,
 or defining CSS variables that need to be accessible throughout the application. */

/* Color Scheme */

:root {
  --success: #82CD47;
  --danger: #DF2E38;
  --primary: #1A374D;
  --dark: #242424;
  --secondary: #B1D0E0;
  --action: #ee7716;
}

/* General Styles */
html, body {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

body {
  background-color: #fff;
  color: #242424;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-family: 'Playfair Display', serif;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.6rem;
  letter-spacing: 10px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.2rem;
  letter-spacing: 5px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

p {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* List Styles */
ul {
  list-style-type: none;
}

/* Image Styles */

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.thumbnail {
  width: 100px;
}

.circle {
  background-color: #fff;
  color: var(--blue);
  padding: 1rem;
  border-radius: 50%;
}

/* Layout Styles */

.section {
  padding: 3rem 2rem;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.light-section {
  background-color: #fff;
  color: var(--primary);
}

.dark-section {
  background-color: var(--primary);
  color: #fff;
}

/* Button Styles */
button, 
button:focus {
  border: none;
  outline: none;
}

.btn {
  padding: 0.5rem 2.5rem;
  background-color: var(--primary);
  color: #fff;
  border: 1px solid var(--primary);
  border-radius: 20px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-action {
  background-color: var(--action);
  color: #fff;
  border-color: var(--action);
}

.btn-action:hover {
  background-color: #fff;
  color: var(--action);
}

.btn-delete {
  background-color: var(--danger);
  color: white;
  border-color: var(--danger);
}

.btn-delete:hover {
  background-color: #fff;
  color: var(--danger);
}

/* Overlay Styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Form And Input Styles */
.form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
}

.form-control {
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
}
/* 
SOME OF DEFAULT REACT STYLES
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
 */
