/* .CheckoutPage {
    color: red;
} */

/* Target Date input field text error */
.form-control span {
    display: inline-block;
    margin-left: 1rem;
    color: var(--danger);
  }

.CheckoutPage h2 {
    font-size: 2rem;
}

.CheckoutPage .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
}

.CheckoutPage .checkout-form {
    display: flex;
    flex-wrap: wrap;
}

.CheckoutPage .form-section {
    flex: 2;
    padding: 10px;
}

.CheckoutPage .form-section:nth-child(2) {
    flex: 1;
    background-color: #f0f0f0;
    border-radius: 6px;
}

.CheckoutPage  {
    margin-bottom: 10px;
}

.CheckoutPage input,
.CheckoutPage textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.CheckoutPage input[type="date"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    padding-right: 20px;
}

.CheckoutPage input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    background: transparent;
    cursor: pointer;
}

.CheckoutPage ul.cart-items {
    list-style: none;
}

.CheckoutPage ul li {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .CheckoutPage .checkout-form {
        flex-direction: column;
    }
}


