.Contact {
    background-color: var(--blue);
    margin-top: 55px;
}

.Contact h1 {
  font-size: 1.4rem;
}

.Contact p {
  text-align: center;
  color: #757575;
}

.Contact .tel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightblue;
    margin: auto;
    margin-bottom: 1rem;
  }
  
.Contact .iconContainer .MuiSvgIcon-root {
  font-size: 24px;
  color: var(--action);
}

/* Media Styles */
/* small screens */
@media only screen and (max-width: 600px) {
  .Contact.section {
    padding-left: 0;
    padding-right: 0;
  }
}