.Gallery {
    min-height: 100vh;
    width: auto;
    margin: auto;
    margin-top: 55px;
}

.Gallery ul {
    width: 100%;
}

.Gallery ul li:hover {
    cursor: pointer;
}


.gallery-content {
    width: 95%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 80%;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .Gallery h1 {
        font-size: 1.4rem;
    }
    
    .Gallery.section {
        padding-left: 0;
        padding-right: 0;
    }
}