  .Product .filter {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }

  .Product .filter button {
    margin-right: 2rem;
  }

  .Product .filter-dropdown {
    margin-bottom: 1rem;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    /* Add more styles as needed */
  }
  
  .Product .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Product .card {
    flex: 0 0 25%; /* Adjust the value to change the number of cards per row */
    min-width: 200px; /* Set a minimum width for the cards */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Product .card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .Product .card h3 {
    margin: 10px 0;
  }
  
  .Product .card p.description {
    flex-grow: 1;
    color: #757575;
  }
  
  .Product .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Product .price {
    font-weight: 700;
  }
  
  .Product .category {
    font-size: 12px;
    color: #888;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--danger);
  }

  .Product .category:hover {
    cursor: pointer;
  }
  
  .Product .add-to-cart {
    margin-top: auto;
    margin-bottom: 10px;
    width: 50%;
    padding: 0.5rem;
  }
  
  /* Responsive styles for different screen sizes */
  
  @media (max-width: 992px) {
    .Product .card {
      flex-basis: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .Product .card {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .Product h1 {
      font-size: 1.3rem;
    }

    .Product h2 {
      font-size: 1.3rem;
    }

    .Product .card {
      flex-basis: 100%;
    }
  }
  
  @media (max-width: 360px) {
    /* No need to change the flex-basis value since it's already set to 100% */
  }
  