.Proizvod .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Proizvod .card {
    flex: 0 0 25%; /* Adjust the value to change the number of cards per row */
    min-width: 200px; /* Set a minimum width for the cards */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Proizvod .card img {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
  
  .Proizvod .card h3 {
    margin: 10px 0;
  }
  
  .Proizvod .card p.description {
    flex-grow: 1;
    color: #757575;
  }
  
  .Proizvod .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Proizvod .price {
    font-weight: 700;
  }
  
  .Proizvod .category {
    font-size: 12px;
    color: #888;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    background-color: var(--danger);
  }
  
  .Proizvod .add-to-cart {
    margin-top: auto;
    margin-bottom: 10px;
    width: 50%;
    padding: 0.5rem;
  }
  
  /* Responsive styles for different screen sizes */
  
  @media (max-width: 992px) {
    .Proizvod .card {
      flex-basis: 33.33%;
    }
  }
  
  @media (max-width: 768px) {
    .Proizvod .card {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 600px) {
    .Proizvod .card {
      flex-basis: 100%;
    }
  }
  
  @media (max-width: 360px) {
    /* No need to change the flex-basis value since it's already set to 100% */
  }
  