/* .Offer {

} */

.Offer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }
  
  .Offer th, .Offer td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .Offer th:last-child, .Offer td:last-child {
    text-align: center;
    width: 100px;
  }

  .Offer img {
    width: 60px;
    height: 60px;
  }