/* .Orders {
    color: green;
} */

.Orders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }
  
  .Orders th, .Orders td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .Orders th:last-child, .Orders td:last-child {
    text-align: center;
    width: 100px;
  }