/* .ShowOrder {
    color: yellow;
} */

  .ShowOrder .order {
    margin-bottom: 20px;
  }

  .ShowOrder .order-header {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .ShowOrder .order-info {
    margin-bottom: 10px;
  }

  .ShowOrder .order-items {
    margin-top: 10px;
  }

  .ShowOrder .order-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .ShowOrder .order-item h4 {
    margin-top: 0;
  }
  
  .ShowOrder .order-item p {
    margin-bottom: 5px;
  }

  .ShowOrder img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
    margin-right: 1rem;
  }