.AboutUs {
    background-color: #fff;
    display: flex;
    gap: 2rem;
}

.AboutUs div {
    flex: 1;
}

.AboutUs h2 {
    text-align: center;
}

.AboutUs h3 {
    text-align: center;
}

.AboutUs p {
    text-align: left;
    font-size: 1.1rem;
}

.AboutUs p.secondary-description {
    color: #757575;
}

.AboutUs span {
    color: var(--action);
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .AboutUs {
        flex-direction: column;
    }
}