.Navbar {
    color: #242424;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5rem 2rem;
    transition: all 0.3s ease-in-out;
}

.Navbar.hide {
    opacity: 0;
}


