.OurMenu {
    background-color: #fff;
    display: flex;
    gap: 2rem;
}

.OurMenu div {
    flex: 1;
}

.OurMenu h2 {
    text-align: center;
}

.OurMenu h3 {
    text-align: left;
}

.OurMenu p {
    font-size: 0.9rem;
    text-align: left;
    color: #757575;
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .OurMenu {
        flex-direction: column;
    }
}